.logo {
  height: 40px;
  margin-left: 15px;
  margin-top: 20px;
  display: flex;
}
.logo .logo-min {
  margin-left: 10px;
  height: 28px;
  width: 28px;
}
.logo-img {
  height: 28px;
  width: 28px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout-sider {
  background-color: #fff;
}
